@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

/* utility class */
.section {
  padding: 1.6rem 3.2rem;
}

.section__heading {
  font-size: 3rem;
}

.section__indicator {
  font-size: 6rem;
  text-transform: uppercase;
}

.bottom__section-padding {
  padding: 6rem 0;
}

/* button */

.btn {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
}

.btn__read-more {
  border-radius: 20px;
  border: 0.2rem solid var(--color-light);
  align-self: flex-start;
  font-weight: bold;
  color: var(--color-light);
}

.card-btn {
  color: var(--color-primary);
  border-color: var(--color-primary);
  padding: 0.8rem 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.btn-primary {
  display: block;
  outline: none;
  border: none;
  padding: 1.6rem 2.4rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-light);
  background: var(--color-btn);
  border-radius: 3rem;
  width: 24rem;
}

/* Utility Styles */
a {
  text-decoration: none;
}

.constant__width {
  max-width: 140rem;
  margin: 0 auto;
}

/* typography */

.secondary__heading {
  font-size: 2.2rem;
}

.tertiary__heading {
  font-size: 2rem;
}

.normal__heading {
  font-size: 3.2rem;
}

.grid__margin {
  margin-top: -7rem;
}

.nested__us {
  font-weight: normal !important;
}

/* search box */
.search__form {
  position: relative;
}

.search__form label {
  position: relative;
  z-index: 2;
  padding-right: 1.2rem;
}

.search__form label svg path {
  stroke: var(--color-light);
}

.search__form input {
  position: absolute;
  right: 0;
  outline: none;
  border: transparent;
  border-radius: 30px;
  font-size: 1.6rem;
  padding: 0.4rem;
  z-index: 1;
  width: 20px;
  padding-left: 1.6rem;
  padding-right: 3rem;
  opacity: 0;
  transition: all 0.3s ease-in;
}

#search:focus {
  width: 20rem;
  opacity: 1;
}

#search:focus ~ label svg path {
  stroke: var(--color-primary);
}

/* homescreen */

.homescreen {
  width: 100%;
  height: calc(100vh - 126px);
}

.homescreen img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome__section {
  width: 100%;
  min-height: 100vh;
  display: flex;

  /* background-image: linear-gradient(
    124deg,
    rgba(47, 158, 139, 1) 54%,
    hsl(175, 100%, 30%) 4%
  ); */
  background-image: url(../img/Rectangle.svg);
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* .welcome__section {
  background-image: linear-gradient(
    110deg,
    rgba(47, 158, 139, 1) 30%,
    hsl(175, 100%, 30%) 20%,
    red 10%
  );
} */

.welcome__highlight {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  width: 90%;
  color: var(--color-light);
}

.section__discoveries {
  background-color: var(--color-light);
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 3.4rem;
}

.news__blog-container {
  min-height: 100vh;
  background: var(--color-primary);
}

.news__blog,
.pathsala__values-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 100%;
  color: var(--color-light);
  /* grid-template-rows: repeat(4, minmax(15rem, 1fr)); */
}
/* 
.background-1 {
  background-image: linear-gradient(124deg, #209f90, #00998d);
  background-image: linear-gradient(
    124deg,
    rgba(47, 158, 139, 1) 54%,
    hsl(175, 100%, 30%) 4%
  );
  width: 30%;
}

.background-2 {
  background-color: blue;
  width: 20%;
}

.background-3 {
  background-color: yellow;
  width: 30%;
}

.background-4 {
  background-color: green;
  width: 20%;
} */

/*  */
.section__gallery {
  min-height: 100vh;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.gallery__layout {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-template-rows: repeat(2, minmax(300px, 1fr));
  gap: 2.4rem;
}

.gallery__images-1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.gallery__images-2 {
  grid-row: 2 / 3;
  grid-row: 1;
}

.gallery__images-3 {
  grid-row: 3 / 4;
  grid-row: 1 / 3;
}

.gallery__images-4 {
  grid-row: 1;
  grid-column: 4/ 5;
}

.gallery__images-5 {
  grid-row: 2;
  grid-column: 2/ 3;
}

.gallery__images-6 {
  grid-row: 2;
  grid-column: 4 / 5;
}

/* image hover effect */
.news__highlight-image,
.image__content,
.gallery__images {
  overflow: hidden;
}

.news__highlight-image img,
.image__content img,
.gallery__images img {
  transition: all 0.3s;
}

.news__highlight-image:hover img,
.image__content:hover img,
.gallery__images:hover img {
  transform: scale(1.2);
}

.nav-area {
  min-height: 10rem;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 3rem;
}

.logo {
  width: 10rem;
}

.logo img {
  width: 100%;
  display: block;
}

/* alert message */
.alert__message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}

.alert__message h3 {
  color: var(--color-light);
}

.alert__message-container {
  background: var(--color-primary);
}

/* grid card  */
.pathsala__values-grid {
  gap: 4rem;
}

.grid__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 30px -6px hsl(0, 0%, 90%);
}
.card__image {
  width: 5rem;
  /* margin: 0 auto; */
}

.card__image svg {
  width: 100%;
}

.grid__card .content h3,
.grid__card .content p {
  color: #000;
}

/* image information grid */
.image__information-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-rows: repeat(3, minmax(300px, 1fr));
}

.image__content-item img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}

/* individual card */

.card__container-grid {
  display: grid;
  /* grid-template-columns: repeat(3, minmax(250px, 400px)); */
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 5.6rem;
}

/* life at pathshala */
.pathshala {
  min-height: 80vh;
  background: linear-gradient(
      to right,
      rgba(0, 153, 141, 0.6),
      rgba(0, 153, 141, 0.6)
    ),
    url(../img/Rectangle\ 327.png);
  background-position: center;
  background-size: cover;
  display: flex;
}

/* video */

.video__container img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/*hover effects and animation  */

.btn,
.btn-primary,
.card-btn,
.btn-video {
  transition: box-shadow 0.35s;
  position: relative;
  overflow: hidden;
}

.btn::after,
.btn-primary::after,
.btn-primary::before,
.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsl(175, 100%, 30%);
  left: -100%;
  top: 0;
  /* border-radius: inherit; */
  transition: all 0.3s ease-in;
}

.btn::after,
.btn::before {
  z-index: -1;
}

.btn::before,
.btn-primary::before {
  left: 0;
  background: var(--color-btn) !important;
  transition: all 0.3s;
  /* transition-delay: 0.1s; */
}

/* .btn:hover::before {
  left: 100%;
} */

.btn-apply {
  transition: all 0.3s;
  background: transparent !important;
}

.btn-primary {
  transition: all 0.3s;
  overflow: hidden;
  background: transparent !important;
}

.btn-primary span,
.card-btn span,
.card-btn svg,
.btn-video span {
  position: relative;
  z-index: 5;
}

.btn-primary::before .btn-primary::after {
  transition: all 3s;
  z-index: 3;
}

.btn:hover::after,
.btn-primary:hover::after {
  left: 0%;

  /* z-index: ; */
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  box-shadow: 0 0 0 3px hsl(25, 91%, 100%);
}

/* animation sliding in */

.section__indicator {
  animation: slide-right 2s;
}

.btn__read-more {
  /* background: transparent !important; */
}

.btn__read-more::after,
.btn__read-more::before {
  display: none;
}

.image__information-item-1::hover,
.image__information-item-1::focus,
.image__information-item-5::hover,
.image__information-item-5::focus,
.image__information-item-1:hover::after {
  background-color: var(--color-primary) !important;
}

.image__information-item-1:hover,
.image__information-item-5:hover,
.image__information-item-1:active,
.image__information-item-5:active,
.image__information-item-1:hover::after,
.image__information-item-5:hover::after,
.image__information-item-1:active::after,
.image__information-item-5:active::after {
  background-color: var(--color-primary) !important;
}

.image__information-item-2:hover,
.image__information-item-4:hover,
.image__information-item-2:active,
.image__information-item-4:active,
.image__information-item-2:hover::after,
.image__information-item-4:hover::after,
.image__information-item-2:active::after,
.image__information-item-4:active::after {
  background-color: var(--color-btn) !important;
}

.card-btn,
.btn-video {
  /* overflow: visible; */
  border: none !important;
  box-shadow: 0 0 0 2px var(--color-primary);
  transition: all 0.3s ease-in-out;
}

.btn-video {
  box-shadow: 0 0 0 4px var(--color-light);
}

.card-btn::after,
.btn-video::after {
  content: "";
  position: absolute;
  left: -120%;
  width: 120%;
  height: 120%;
  background-color: var(--color-primary);
  transition: all 0.3s ease-in-out;
  display: block;
  z-index: 2;
  top: 0%;
}

.card-btn:hover::after,
.btn-video:hover::after {
  left: -10%;
  top: -10%;
}

.card-btn svg path {
  transition: all 0.3s ease-in-out;
}

.card-btn:hover,
.card-btn:hover svg path {
  color: #fff;
  fill: #fff;
  gap: 1.8rem;
}

.links__collection a,
.quick__links-link {
  transition: all 0.3s ease;
}

.quick__links-link:hover svg path,
.quick__links-link:active svg path {
  fill: var(--color-btn);
}

.links__collection a:hover,
.links__collection a:active {
  transform: scale(1.1);
}

@keyframes slide-right {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }

  100% {
    transform: translateX(0%);
  }
}

.blinking__cursor {
  font-weight: 300;
  animation: blink-cursor 1s infinite;
}

@keyframes blink-cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* hsl(35, 83%, 61%), */
/* hsl(36, 98%, 47%) */
/* text color change */
.highlight__text span:last-child {
  background-image: linear-gradient(
    to right,
    hsl(0, 100%, 50%),
    /* hsl(10, 50%, 100%) */ hsl(33, 70%, 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animate-text-color 2s linear infinite;
  background-size: 300%;
  text-align: center;
  background-position: center;
}

@keyframes animate-text-color {
  0% {
    background-position: 0% 100%;
  }
  /* 50% {
    background-position: 1000% 0%;
  } */
  100% {
    background-position: 50% 100%;
  }
}

.plus {
  display: inline-block;
  animation: zoomInOut 0.8s linear infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
